<div class="pt-10">
  <div class="rounded-xl bg-transparent _ring mx-auto max-w-2xl py-6">
    <.wbig_button admin={true} href={~p"/admin"}>
      <:icon>
        <Heroicons.wrench_screwdriver class="h-10 w-10 inline stroke-current" />
      </:icon>
      Admin
    </.wbig_button>

    <.wbig_button href={~p"/test/wui_components"}>
      Test WUI components
    </.wbig_button>
  </div>
</div>
