th {
    color: #707070;
}

td {
}

th, td {
    text-align: center;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

table, th, td {
    border-bottom: 1px solid #ddd;
}

table {
    margin-left: 20px;
    margin-top: 20px;
}

tr:nth-child(even) {background-color: #fafafa}

tr:hover {background-color: #f2f2e0}

td.prod_header {
    text-align: left;
    font-weight: bold;
}
