/* body {} */

#display {
    margin-left: 10px;
    text-align: right;
    font-size: 26px;
    height: 60px;
    width: 270px;
    background-color: white;
}

.butt {
    margin-bottom: 8px;
    margin-left: 10px;
    width: 60px;
    height: 45px;
    font-size: 22px;
}

.buttbig {
    width: 130px;
    margin-left: 10px;
    height: 45px;
}